.one, .two, .three{
    display: flex;
    justify-content: flex-start;
}
img{
    width: 100px;
    border-radius: 50%;
}
*{
    background-color: rgb(151, 246, 240);
}
pre{
    font-size: 20px;
}
svg{
    width: 30px;
    height: 50px;
}